.home {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.home {
  display: grid;
  grid-template-columns: 60px 4fr; // 1fr for the sidebar, 4fr for the main content
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr; // Only the main content on mobile
  }
  .sideBar {
    display: none;
  }
}
